@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom right, #1a1a1a, #2b2b2b, #444444);
  background-attachment: fixed;
  color: #fff;
  line-height: 1.6;
}

header {
  background: #005f73;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

header h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: #ffd700;
}

.hero {
  background: url("https://images.unsplash.com/photo-1603584173870-7f23fdae1b7a?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGNhcnxlbnwwfHwwfHx8MA%3D%3D")
    no-repeat center center;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  /* filter: brightness(60%); */
  padding: 0 20px;
  box-sizing: border-box;
}

.hero h2 {
  font-size: 2.5rem;
  color: #ffd700;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.btn {
  background-color: #005f73;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.btn:hover {
  background-color: #ffd700;
}

.about,
.jenis,
.booking {
  padding: 70px 20px;
  text-align: center;
}

.about {
  background: rgba(0, 95, 115, 0.7);
  border-radius: 25px;
  margin: 40px auto;
  max-width: 900px;
}

.about img {
  margin-top: 25px;
  max-width: 90%;
  border-radius: 15px;
}

.jenis h2 {
  color: #ffd700;
  margin-bottom: 30px;
}

.jenis-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.jenis-kendaraan {
  background: #005f73;
  border-radius: 15px;
  overflow: hidden;
  max-width: 280px;
}

.jenis img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.jenis h3 {
  margin: 15px 20px;
  color: #ffd700;
}

.jenis p {
  padding: 0 10px 20px;
  font-size: 1rem;
}

.booking {
  background: rgba(0, 95, 115, 0.5);
  border-radius: 25px;
  max-width: 600px;
  margin: 0 auto;
}

.booking form {
  background: transparent;
  padding: 30px;
}

.booking input,
.booking select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  background: #005f73;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
